
/* General */

body  { background-color:#000; margin:0; padding:0; color:#fff; }

.trans50 {
  filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}


/* Layout (masthead area) */

#masthead {
  position: relative;
}

#brick_tile   { 
  height:197px; 
  background-image: url('/images/layout/mh_brick_tile.jpg');
}

#brick_main   { 
  height:197px; 
  background-image: url('/images/layout/mh_brick_main.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

#nav_tile {
  height:63px;
  background-image: url('/images/layout/mh_nav_tile.jpg');
  background-position: center center;
}

#masthead_cntarea {
  margin: 0;
  width: 100%;
  height: 260px;
/*  background-color: red;*/
  position: absolute;
  top: 0;
  left: 0;
}

#masthead_cnt {
  width: 1104px;
  height: 260px;
/*  background-color: yellow;*/
  margin: 0 auto;
  position: relative;
}

#logo {
  width: 469px;
  height: 177px;
  background-image: url('/images/layout/mh_757studio_logo.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 83px;
  left: 9px;
}

#event_info {
  width:530px;
  top: 75px;
  left: 490px;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  padding: 15px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
}


/* Layout Navigatioin */

#nav_items {
  position: absolute;
  top: 198px;
  left: 430px;
  list-style-type: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-transform: uppercase;
}

#nav_items li {
  display: inline;
  margin: 0 15px 0 0;
  color: #fff;
}

#nav_items li a, 
#nav_items li a:link, 
#nav_items li a:visited     { text-decoration:none; color:#fff; text-shadow: #000 1px 1px; font-size:18px; padding: 10px; }
#nav_items li a:hover,       
#nav_items li a:active,
#nav_items li a.active      { text-decoration:none; background-color: rgba(0,0,0,0.4); }


/* Layout (content area) */

#content {
  margin: 0 auto;
  width: 1104px;
  min-height: 200px;
  background-image: url('/images/layout/content_bg.gif');
}

#nav_shadow {
  height: 37px;
  background-image: url('/images/layout/mh_nav_shadow_tile.png');
}









