
// Global Vars / Interpolation

!brick_height = 197px
!wood_height = 63px
!wood_shadow = 37px
!masthead_height = 260px
!content_height = 1104px


// General DOM

body
  background-color: #000
  margin: 0
  padding: 0
  color: #fff


// Masthead

#masthead
  position: relative

  #brick_tile
    height = !brick_height
    background:
      image: url('/images/layout/mh_brick_tile.jpg')
    #brick_main
      height = !brick_height
      background:
        image: url('/images/layout/mh_brick_main.jpg')
        repeat: no-repeat
        position: center center
  
  #nav_tile
    height = !wood_height
    background:
      image: url('/images/layout/mh_nav_tile.jpg')
      position: center center

  #masthead_cntarea
    margin: 0
    width: 100%
    height = !masthead_height
    position: absolute
    top: 0
    left: 0
    #masthead_cnt
      width = !content_height
      height = !masthead_height
      margin: 0 auto
      position: relative
      #logo
        width: 469px
        height: 177px
        background:
          image: url('/images/layout/mh_757studio_logo.png')
          repeat: no-repeat
        position: absolute
        top: 83px
        left: 9px
      #event_info
        width: 530px
        top: 75px
        left: 490px
        background-color: rgba(0,0,0,0.4)
        position: absolute
        padding: 15px
        font-family: Tahoma, Geneva, sans-serif
        font-size: 16px
      #nav_items
        position: absolute
        top: 198px
        left: 430px
        list-style-type: none
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
        text-transform: uppercase
        li
          display: inline
          margin: 0 15px 0 0
          color: #fff
          a
            &:link, &:visited
              text-decoration: none
              color: #fff
              text-shadow: #000 1px 1px
              font-size: 18px
              padding: 10px
            &:hover, &:active, &.active
              text-decoration: none
              background-color: rgba(0,0,0,0.4)


// Content

#content
  margin: 0 auto
  width = !content_height
  min-height: 200px
  background-image: url('/images/layout/content_bg.gif')

#nav_shadow
  height = !wood_shadow
  background-image: url('/images/layout/mh_nav_shadow_tile.png')



