
/ Variables

!brick_height = 197px
!wood_height = 63px
!wood_shadow = 37px
!masthead_height = 260px
!content_lwidth = 788px
!content_rwidth = 316px
!content_width = !content_lwidth + !content_rwidth
!rsvp_width = 278px

!s_yellow = #dec100
!s_red = #c93131
!s_grey = #494949


/ Mixins

=nomp
  margin: 0
  padding: 0

=clearfix
  display: block
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  * html &
    height: 1px

=debug
  border: 1px solid red

=text_black_shadow
  text-shadow: #000 1px 1px
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=1)

=trans_black_bg_color
  background-color: rgba(0,0,0,0.4)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#77000000,endColorstr=#77000000)
  zoom: 1

=g_border10
  border:
    width: 10px 
    style: solid 
    color = !s_grey

=trebuchet(!fsize)
  font-family: Trebuchet MS, Helvetica, sans-serif
  font-size = !fsize

=lucida(!fsize)
  font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif
  font-size = !fsize

=arialblack(!fsize)
  font-family: 'Arial Black', Gadget, sans-serif
  font-size = !fsize

=arial(!fsize)
  font-family: Arial, Helvetica, sans-serif
  font-size = !fsize


/ General DOM

body
  +nomp
  background-color: #000
  color: #fff
  -webkit-text-stroke: 1px transparent

.vtop, .vtop_all *
  vertical-align: top !important
.vmiddle, .vmiddle_all *
  vertical-align: middle !important
.vbottom, .vbottom_all *
  vertical-align: bottom !important


/ Masthead

#masthead
  position: relative

  #brick_tile
    height = !brick_height
    background:
      image: url('/images/layout/mh_brick_tile.jpg')
    #brick_main
      height = !brick_height
      background:
        image: url('/images/layout/mh_brick_main.jpg')
        repeat: no-repeat
        position: center center
  
  #nav_tile
    height = !wood_height
    background:
      image: url('/images/layout/mh_nav_tile.jpg')
      position: center center

  #masthead_cntarea
    margin: 0
    width: 100%
    height = !masthead_height
    position: absolute
    top: 0
    left: 0
    #masthead_cnt
      width = !content_width
      height = !masthead_height
      margin: 0 auto
      position: relative
      #logo
        width: 469px
        height: 177px
        background:
          image: url('/images/layout/mh_757studio_logo.png')
          repeat: no-repeat
        position: absolute
        top: 83px
        left: 9px
      #event_info
        width: 530px
        top: 75px
        left: 490px
        +trans_black_bg_color
        position: absolute
        padding: 15px
        font-family: Tahoma, Geneva, sans-serif
        font-size: 16px
      #top_nav_items
        +nomp
        position: absolute
        top: 204px
        left: 470px
        list-style-type: none
        text-transform: uppercase
        li
          +text_black_shadow
          float: left
          display: block
          margin: 0 15px 0 0
          color: #fff
          padding: 10px
          &:hover, &:active, &.active
            +trans_black_bg_color
          a, a:link, a:visited, a:hover, a:active, a.active
            +lucida(18px)
            color: #fff
            text-decoration: none


/ Content

#content
  +clearfix
  margin: 0 auto
  width = !content_width
  min-height: 200px
  background-image: url('/images/layout/content_bg.gif')
  
  #nav_shadow
    height = !wood_shadow
    background-image: url('/images/layout/mh_nav_shadow_tile.png')
  
  table.form_table
    margin: 0 auto
    th
      +lucida(12px)
      text-align: right
      color = !s_red
    td
      text-align: left
    input[type=text]
      width: 160px
      font-size: 14px
  
  .flash_good, .flash_bad, .flash_indif
    margin: 10px auto
    padding: 10px 10px 10px 35px
    color: #000
    +lucida(12px)
  .flash_good
    border: 2px solid #3c3
    background: #cfc url('/images/layout/good.png') no-repeat 8px 10px
  .flash_bad
    border: 2px solid #f00
    background: #fcc url('/images/layout/bad.png') no-repeat 8px 10px
  .flash_indif
    border: 2px solid #06f
    background: #9cf url('/images/layout/indif.png') no-repeat 8px 10px
  
  #content_left
    width = !content_lwidth - 40px * 2
    padding: 0 40px 60px 40px
    float: left

    h1
      margin-top: 0px
      font-size: 38px
      font-family: Impact, Charcoal, sans-serif
      font-weight: 100
      color = !s_yellow
    h2
      +trebuchet(32px)
      font-weight: 100
      margin: 5px 0
    h3
      +trebuchet(22px)
      font-weight: 100
      color = !s_red
      margin: 5px 0
    
    p
      +lucida(15px)
      line-height: 24px
      text-shadow: 0 0 0 #000
    
    a, a:link, a:visited, a:active
      color = !s_yellow
      text-decoration: none
      border-bottom:
        width: 1px 
        style: dashed 
        color = !s_yellow
      &:hover
        border-bottom-style: none
    
    div.presenter
      margin: 10px 0 50px 0
    
    img.presenter
      +g_border10
      margin: 10px 0 10px 0
    
    ul.presenter_info
      +nomp
      +clearfix
      list-style-type: none
      li
        float: left
        display: block
        padding: 0 0 0 23px
        margin: 0 12px 0 0
        color: #fff
        background: url('/images/layout/info_misc.png') no-repeat center left
        &.blog
          background: url('/images/layout/info_blog.png') no-repeat center left
        &.linkedin
          background: url('/images/layout/info_linkedin.png') no-repeat center left
        &.code
          background: url('/images/layout/info_code.png') no-repeat center left
        &.twitter
          background: url('/images/layout/info_twitter.png') no-repeat center left
        a, a:link, a:visited, a:active
          color: #fff
          text-decoration: none
          text-transform: uppercase
          border: none
          +arial(14px)
        a:hover
          color = !s_yellow
    
    ul.presenter_books
      list-style-type: none
      font-style: italic
      a, a:link, a:visited, a:active
        border: none
      a:hover
        color = !s_grey

  #content_right
    width = !content_rwidth - 10px * 2
    padding: 0 10px 10px 10px
    float: right
    
    #rsvp_button
      width = !rsvp_width
      height: 46px
      margin: 0 auto
      background: url('/images/content/rsvp_button.jpg') no-repeat 0 0
      cursor: pointer
      &:hover
        background-position: 0 -46px
      &:active
        background-position: 0 -92px
    #rsvp_text
      width = !rsvp_width
      margin: 5px auto
      text-align: center
      +trebuchet(16px)
      color = !s_grey
    .flash_good, .flash_bad, .flash_indif
      width = 200px


/ Footer

#footer
  margin: 0 auto
  padding-top: 30px
  padding-left: 40px
  width = !content_width - 40px
  height: 120px
  color = !s_grey
  background: url('/images/layout/footer_wood.jpg') no-repeat top left
  #bottom_nav_items
    +nomp
    list-style-type: none
    li
      float: left
      display: block
      padding: 0 0 0 0
      margin: 0 12px 0 0
      a, a:link, a:visited, a:active
        color = !s_red
        text-decoration: none
        text-transform: uppercase
        border: none
        +arial(14px)
      a:hover
        color = !s_yellow




