
// Global Vars / Interpolation

!brick_height = 197px
!wood_height = 63px
!wood_shadow = 37px
!masthead_height = 260px
!content_height = 1104px


// Mixins

=nomp
  margin: 0
  padding: 0

=debug
  border: 1px solid red

=text_black_shadow
  text-shadow: #000 1px 1px
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=1)

=trans_black_bg_color
  background-color: rgba(0,0,0,0.4)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#77000000,endColorstr=#77000000)
  zoom: 1


// General DOM

body
  +nomp
  background-color: #000
  color: #fff


// Masthead

#masthead
  position: relative

  #brick_tile
    height = !brick_height
    background:
      image: url('/images/layout/mh_brick_tile.jpg')
    #brick_main
      height = !brick_height
      background:
        image: url('/images/layout/mh_brick_main.jpg')
        repeat: no-repeat
        position: center center
  
  #nav_tile
    height = !wood_height
    background:
      image: url('/images/layout/mh_nav_tile.jpg')
      position: center center

  #masthead_cntarea
    margin: 0
    width: 100%
    height = !masthead_height
    position: absolute
    top: 0
    left: 0
    #masthead_cnt
      width = !content_height
      height = !masthead_height
      margin: 0 auto
      position: relative
      #logo
        width: 469px
        height: 177px
        background:
          image: url('/images/layout/mh_757studio_logo.png')
          repeat: no-repeat
        position: absolute
        top: 83px
        left: 9px
      #event_info
        width: 530px
        top: 75px
        left: 490px
        +trans_black_bg_color
        position: absolute
        padding: 15px
        font-family: Tahoma, Geneva, sans-serif
        font-size: 16px
      #nav_items
        +nomp
        position: absolute
        top: 204px
        left: 470px
        list-style-type: none
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
        text-transform: uppercase
        li
          +text_black_shadow
          float: left
          display: block
          padding: 0
          margin: 0 15px 0 0
          color: #fff
          padding: 10px
          &:hover, &:active, &.active
            +trans_black_bg_color
          a, a:link, a:visited, a:hover, a:active, a.active
            color: #fff
            text-decoration: none
            font-size: 18px


// Content

#content
  margin: 0 auto
  width = !content_height
  min-height: 200px
  background-image: url('/images/layout/content_bg.gif')

#nav_shadow
  height = !wood_shadow
  background-image: url('/images/layout/mh_nav_shadow_tile.png')



