
= render_rsvp_errors

%div{:class => 'floatr inline_all'}
  = button_to '« All RSVPs', rsvps_path, :method => :get
  = button_to 'Their Slug »', mine_rsvp_url(:id =>@rsvp.slug), :method => :get

%h1 Edit Registration

- form_for @rsvp do |r|
  = render :partial => 'edit', :locals => {:r => r}


