
= render_rsvp_errors

%div{:class => 'floatr'}
  = render_toggle_reservation_area

%h1{:class => 'mt20'}
  My Registration

%p
  From this page, you will be able to edit your number of attendees and their names. 
  If needed you will also be able to cancel your reservation. Seating is limited, so 
  please let us know if your reservation changes!

%p
  If you see a <strong>"No Seats Available"</strong> message, please be patient. 
  This site is setup to email all attendees on the waiting list as soon as an opening 
  becomes available. Announcements may also appear on our Twitter page.

- form_for @rsvp, :url => mine_rsvp_path(:id => @rsvp.slug) do |r|
  = render :partial => 'edit', :locals => {:r => r}


