
= render_rsvp_errors

%div{:class => 'floatr'}
  = render_toggle_reservation_area

%h1{:class => 'mt20'}
  My Registration

%p
  From this page, you will be able to edit your number of attendees and their names. 
  If needed you will also be able to cancel your reservation. Seating is limited, so 
  please let us know if your reservation changes!

%p
  If see a "No Seats Available" message, please be patient and follow us on Twitter
  at 757studio where we may announce openings as they become available.

- form_for @rsvp, :url => mine_rsvp_path(:id => @rsvp.slug) do |r|
  = render :partial => 'edit', :locals => {:r => r}


