
%h1{:class => 'mt20'}
  My Survey


- form_tag survey_rsvp_path(:id => @rsvp.slug) do
  - Survey::QUESTIONS.each do |qdata|
    %div{:class => 'mb30', :id => "survey_#{qdata[:attr]}"}
      %h3{:class => 'italic'}
        = qdata[:question]
      = survey_question_field(qdata[:attr])
    %div{:class => 'mt20'}
  = submit_tag 'Save Survey', :style => 'font-size:18px;'
