
%h1 Presentations/Talks


/ Clinton Nixon

%div{:class => 'mb30'}

  - link_to site_path(:presenters,:anchor => 'clinton_nixon') do
    = image_tag 'content/clinton_nixon.jpg', :width => 220, :class => 'presenter floatl mr30 brd5'

  %h2 The Joy of Ruby
  %h3 Clinton R. Nixon
  %h4 Development Directory at Viget Labs

  %p
    Yukihiro Matsumoto, the creator of Ruby, has summed up Ruby's
    philosophy as "Ruby is designed to make programmers happy." How can
    that happiness cut your development time, reduce your defects, and
    work closer with your customers?

  %p
    In this talk, we'll talk about both the language Ruby and the
    community of Ruby developers. I'll walk through an introduction to the
    Ruby programming language and then show how the common values of the
    Ruby community tie in with the values of agile development. I'll
    discuss why we at 
    = link_to 'Viget', 'http://www.viget.com/'
    chose Ruby as our development platform, and
    show why you might want to consider doing the same.


/ Jamie Pinkham

%div{:class => 'mb30'}

  - link_to site_path(:presenters,:anchor => 'jamie_pinkham') do
    = image_tag 'content/jamie_pinkham.jpg', :width => 150, :class => 'presenter floatl mr30 brd5'

  %h2 iPhone Development: <br/>Touching Cocoa
  %h3 Jamie Pinkham
  %h4 Software Engineer at Mobelux

  %p
    I will cover the following topics: tools, programming paradigms and 
    limitations.I'm staying away from code and planning on keeping the talk 
    at an abstract level. However, I will explain the mystery of the 
    objective-c brackets.


