
%h1 Who Should Attend

= image_tag '/images/content/learn.png', :style => 'position:absolute; right:0px;'

%div{:class => 'w330'}

  %p
    Do you want to save time and money by learning about modern software development? Perhaps you 
    are curious as to the technology that drove the push to "Web 2.0" and backs some of the most 
    popular sites like 37signals, Twitter and Linkedin? If so, show up!

  %p
    Maybe you an interactive agency, a technology shop, or an entrepreneur that wants to launch a 
    new web based product or mobile iPhone application? Perhaps you need to manage a technical team 
    and your interested how the brain works and what makes great software, despite your current 
    programming language of choice? If so, show up!

  %p
    We have worked very hard to assemble a diverse and top notch group of speakers from the peers 
    of the local Ruby and Objective-C user groups. Whatever your reason, if you want to learn and 
    meet some of the areas best talent, show up!
