
%h1 Who Should Attend


You'll learn.....

After attending, you'll be able to......

You'll save money and time by knowing these things....



%p
  Are you a manager, business owner or entrepreneur who leverages any type 
  
   that wants to save time 
  and money by learning about some of the latest technologies and development practices more
  commonly used outside the Hampton Roads area. 
  
  This could include 
  
  used outside 
  the Hampton Roads area?
  
  After attending, you will

%p
  Do you want to save time and money by learning about some of the latest and greatest software 
  development tools and practices?

  Do not mistake this as an event for software developers only! We highly encourage anyone 
  that works with software in any shape or form to attend. Perhaps you are a 
  
%p
  Ideally 
  
  Sure this event is hosted by software developers and businesses alike. You do not have to 
  be a software




/ 

