<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title></title>
  <!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /> -->
  <!-- <link rel="icon" type="image/png" href="/favicon.png" /> -->
  <%= stylesheet_link_tag :all, :recursive => true %>
  <%= javascript_include_tag :all, :recursive => true %>
</head>
<body>
  
  <div id="masthead">
    
    <div id="brick_tile">
      <div id="brick_main">
        
      </div>
    </div>
    <div id="nav_tile">
      
    </div>
    
  </div>
  
  <div id="content">
    <div id="nav_shadow"></div>
    <%= yield %>  
  </div>
  
</body>
</html>


